<div class="{{ .Site.Params.base_color }}">
    <div class="container max-w-screen-xl mr-auto ml-auto">
        <nav class="flex items-center justify-between flex-wrap {{ .Site.Params.base_color }} px-6">
            <div class="flex items-center flex-no-shrink {{ .Site.Params.base_color }} text-white py-6 mr-6">
                <a href="{{ .Site.BaseURL }}">
                    <span class="font-semibold text-2xl tracking-tight">{{ .Site.Title }}</span>
                    {{ if .Site.Params.tagline }}
                        <span class="text-slate-400 tracking-tight">{{ .Site.Params.tagline }}</span>
                    {{ end }}
                </a>
            </div>
            <div class="fixed top-[-6px] left-1/2 z-50 overflow-visible">
                <img class="w-[125px] ease-in-out transform transition duration-300 hover:scale-125 h-auto" src="/img/hobo_logo.png" alt="Logo" id="logo">
            </div>
            <div class="flex md:hidden py-6">
                <div class="py-2">
                    <button onclick="toggleDarkMode()" class="focus:outline-none mr-1" aria-label="Darkmode Toggle Button"><i id="icon"
                            class="icon-moon inline-flex align-middle leading-normal text-lg text-white"></i></button>
                    <span class="text-white">|</span>
                </div>
                <button id="hamburgerbtn" class="flex items-center px-3 py-1 text-white hover:opacity-50" aria-label="Hamburger Button">
                    <span class="icon-menu text-2xl"></span>
                </button>
            </div>
            <div class="hidden w-full md:flex md:flex-row sm:items-center md:w-auto" id="mobileMenu">
                <div class="text-sm lg:flex-grow">
                </div>
                <div class="navmenu">
                    {{ range .Site.Menus.main }}
                    <a href="{{ .URL }}"
                        class="no-underline duration-200 block mt-4 sm:inline-block sm:mt-0 text-white hover:opacity-50 mr-4">
                        {{ .Name }}
                    </a>
                    {{ end }}
                </div>
                <div class="text-white invisible md:visible">
                    <span>|</span>
                    <button onclick="toggleDarkMode()" class="focus-visible:outline-none" aria-label="Darkmode Toggle Button"><i id="icon2"
                            class="icon-moon hover:opacity-50 duration-200 inline-flex align-middle leading-normal text-lg ml-2"></i></button>
                </div>
            </div>
        </nav>
    </div>
</div>
<style>
    .active {
        display: block;
    }
</style>

<script>
    let hamburger = document.getElementById('hamburgerbtn');

    let mobileMenu = document.getElementById('mobileMenu');

    hamburger.addEventListener('click', function () {
        mobileMenu.classList.toggle('active');
    });
</script>
