<div class="sm:fixed z-50 sm:mt-[32px] {{ .Site.Params.base_color }}">
    <div class="sm:fixed z-50 container max-w-screen-xl mr-auto ml-auto">
        <nav class="flex items-center justify-between justify-center flex-wrap {{ .Site.Params.base_color }} px-6">
            <div class="w-6 sm:hidden"></div> <!-- Spacer to balance the hamburger menu -->
            <div class="border-b border-white sm:border-0 flex items-baseline flex-no-shrink {{ .Site.Params.base_color }} text-white md:py-6 pt-6 sm:pt-0 md:mr-6">
                <a href="{{ .Site.BaseURL }}">
                    <span class="font-semibold text-2xl tracking-tight">{{ .Site.Title }}</span>
                </a>
                {{ if .Site.Params.tagline }}
		<a class="ml-[5px]"><span class="text-slate-400 tracking-tight">{{ .Site.Params.tagline }}</span></a>
                {{ end }}
            </div>
            <div class="sm:flex pt-6 sm:py-6">
                <button id="hamburgerbtn" class="flex items-center px-3 py-1 text-white hover:opacity-50" aria-label="Hamburger Button">
                    <span class="icon-menu text-2xl"></span>
                </button>
            </div>
            <div class="hidden w-full flex md:flex-row sm:items-center md:w-auto" id="mobileMenu">
                <div class="navmenu">
                    {{ range .Site.Menus.main }}
                    <a href="{{ .URL }}"
                        class="no-underline duration-200 block justify-end flex mt-4 sm:inline-block sm:mt-0 text-white hover:opacity-50 mr-4">
                        {{ .Name }}
                    </a>
                    {{ end }}
                </div>
            </div>
        </nav>
        <div class="sm:fixed top-[50px] sm:top-[-6px] sm:left-[52%] z-50 overflow-visible">
            <img
                src="/img/hobo_logo.png"
                id="logo"
                alt="Logo"
                class="w-[165px] z-50 mx-auto cursor-pointer transition-all duration-300 ease-in-out"
                onclick="flipLogo()"
            />
        </div>
    </div>
</div>
<style>
    .active {
        display: block;
    }
</style>

<script>
      const logo = document.getElementById('logo');

      function flipLogo() {
        const isFlipped = logo.dataset.flipped === 'true';
        const isHovered = logo.matches(':hover');
        const scaleTransform = isHovered ? 'scale(1.5)' : '';
        const translateYTransform = isHovered ? 'translateY(16px)' : '';

        if (isFlipped) {
          logo.style.transform = `${scaleTransform} ${translateYTransform}`;
          logo.dataset.flipped = 'false';
          document.documentElement.classList.add('dark')
        } else {
          logo.style.transform = `scaleX(-1) ${scaleTransform} ${translateYTransform}`;
          logo.dataset.flipped = 'true';
          document.documentElement.classList.remove('dark')
        }
      }

      function handleHover() {
        const isFlipped = logo.dataset.flipped === 'true';
        const scaleTransform = 'scale(1.5)';
        const flipTransform = isFlipped ? 'scaleX(-1)' : '';
        const translateYTransform = 'translateY(16px)';
  
        logo.style.transform = `${flipTransform} ${scaleTransform} ${translateYTransform}`;
      }

      function handleHoverOut() {
        const isFlipped = logo.dataset.flipped === 'true';
        const flipTransform = isFlipped ? 'scaleX(-1)' : '';

        logo.style.transform = flipTransform;
      }

      logo.addEventListener('mouseover', handleHover);
      logo.addEventListener('mouseout', handleHoverOut);

    document.addEventListener('DOMContentLoaded', () => {
      let hamburger = document.getElementById('hamburgerbtn');

      let mobileMenu = document.getElementById('mobileMenu');

      hamburger.addEventListener('click', function () {
          mobileMenu.classList.toggle('active');
      });
    })
</script>
